@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.fuente{
    font-family: "Roboto Slab", serif;
    font-weight: 150;
}
.navegacion{
    background-color: #252525;
    
}
.main-section {
    background-image: url('../img/portada.jpg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 94vh;
    align-items: center;
    justify-content: center;
    color: #252525;
    text-align: center;
    font-family: "Roboto Slab", serif;
    h1{
        font-weight: 200;
        width: auto;
        font-size: 40px;
    }
    p{
        font-weight: 50;
        font-size: 20px;
    }
}
.sub-main{
    background: radial-gradient(#25252559, #000000 );
    height: 100%;
    padding: 20%;
    padding-right: 20px;
    text-align: end;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}